body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 1.5em;
  color: #40514E;
}

h1 {
  font-size: 5rem;
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
  font-size: 2.5em;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

table {
  text-align: left;
  border-spacing: 1rem;
  margin-left: auto;
  margin-right: auto;
  list-style-type: georgian;
  width: 55%;
  font-size: 1em;
}

a {
  color: #11999E;
  margin: 10px 20px;
  text-decoration: none;
}

hr {
  border-top: 6px dotted grey;
  width: 4%;
  margin: 100px auto;
}

p {
  line-height: 2;
}

.skillimg {
  float: left;
  margin-right: 30px;
  width: 25%;
  border-radius: 50%;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
  line-height: 2.0;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
  font-size: .8em;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.tablebullet {
  list-style: circle;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.round-profile {
  border-radius: 50%;
}

.interpersonal {
  border-radius: 50%;
  width: 30%;
  height: auto;
  float: right;
}

.BUTTON_MDM {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 100;
  padding: 40px;
  background-color: #66BFBF;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337FED 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.BUTTON_MDM:hover {
  border: solid #337FED 1px;
  background: #1E62D0;
  background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}
